.h-flex {
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.v-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.v-center-flex {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.v-gap-flex {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.center-h-flex {
	display: flex;
	justify-content: center;
	align-items: center;
}

.center-v-flex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.img-display {
	background-color: #F2ECBE;
	width: 100%;
	height: 100%;
	padding: 10px;
}